/* CSS Document */

body{
	margin-top:70px;
	padding:0px;
	text-align:center;
}
#myCanvas{
	width:850px;
	height:580px;
	z-index:1;
	background-color:rgba(0,0,0,0.1);
}

#socre_health_Canvas{
	top:30px;
	position:absolute;
	margin-left:-850px;
	background-color:rgba(0,0,0,0.1);
	z-index:1;
}

#background_Canvas{
	width:850px;
	height:630px;
	position:absolute;
	top:20px;
	margin-left:-850px;
	background-color:#000000;
	z-index:-1;
}
