/* CSS Document */

body{
	margin-top:70px;
	padding:0px;
	text-align:center;
}
#myCanvas{
	width:850px;
	height:580px;
	background-color:#666666;
}

#socre_health_Canvas{
	top:20px;
	position:absolute;
	margin-left:-850px;
	background-color:red;
}